body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}
.header {
  height: 80px;
}
@media (max-width: 768px) {
  .header {
    height: 60px;
  }
}
.header-inner {
  max-width: 980px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.header-logo {
  width: 179px;
  height: 40px;
}
@media (max-width: 768px) {
  .header-logo {
    width: 107px;
    height: 24px;
  }
}
.header-nav-list {
  display: flex;
}
.header-nav-item {
  padding: 10px;
  font: normal normal bold 16px/19px Helvetica Neue;
}
@media (max-width: 768px) {
  .header-nav-item {
    font-size: 11px;
    padding: 5px;
  }
}
.header-nav-item:last-child {
  padding-right: 0px;
}
.mv{
  height: 551px;
  background-image: url(../image/austin-distel-wawEfYdpkag-unsplash.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
}
.mv-copy{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.mv-copy-ttl{
  color: #FFFFFF;
  font: normal normal bold 36px/44px Helvetica Neue;
  margin-bottom: 10px;
}
.mv-copy-txt{
  font: normal normal bold 16px/19px Helvetica Neue;
  color: #FFFFFF;
}
@media(max-width:768px){
  .mv-copy-ttl{
    font-size: 32px;
  }
}

.contents {
  padding: 60px 0 88px;
}
.contents-ttl{
  color: #333333;
  text-align: center;
  font: normal normal bold 32px/39px Helvetica Neue;
  margin-bottom: 49px;
}
@media (max-width: 768px) {
  .contents-ttl {
    font-size: 28px;
  }
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
}
.contents-inner {
  margin: 0 auto;
  max-width: 980px;
}
.contents-box{
  box-shadow: 0px 3px 6px #00000029;
  margin-right: 25px;
  width: calc(100% / 3);
}
@media(max-width:768px){
  .contents-box{
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  margin-right:auto;
  margin-left: auto;
}
}
.contents-box:nth-child(3){
  margin-right: 0px;
}
@media(max-width:768px){
  .contents-box:nth-child(3){
  margin-right: auto;
}
}
.contents-img{
  width: 100%;
  object-fit: cover;
}
.contents-info{
  height: 168px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .contents-box-info {
    height: 120px;
  }
}

.contents-info h2{
  font: normal normal bold 18px/27px Helvetica Neue;
  margin-bottom: auto;
}
@media (max-width: 768px) {
  .contents-box h2{
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .contents-info time{
  font-size: 14px;
}
}



.btn {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 17px 0;
  display: block;
  text-align: center;
  font-size: 18px;
  width: 310px;
  margin: 0 auto;
  margin-top: 46px;
  font: normal normal bold 18px/23px Helvetica Neue;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .btn {
    width: 80%;
    font-size: 16px;
  }
}
.btn:hover {
  opacity: 0.7;
}

.cta{
  height: 455px;
  background-image: url(../image/tim-bogdanov-4uojMEdcwI8-unsplash@2x.png);
  background-size: cover;
  background-position: center;
  text-align: center;
 
  width: 100%;
    vertical-align: bottom;
}

.cta-inner{
  padding: 59px 0 44px;
}
.cta-ttl{
  color: #FFFFFF;
  font: normal normal bold 36px/44px Helvetica Neue;
  margin-bottom: 47px;
  line-height: 1.25;
}
@media(max-width:768px){
  .cta-ttl{
    font-size: 32px;
  }
}
.cta-txt{
  font: normal normal bold 16px/28px Helvetica Neue;
  color: #FFFFFF;
  line-height: 1.75;
  margin-bottom: 50px;
}
@media(max-width:768px){
  .cta-txt{
    font-size: 14px;
  }
}
.cta-btn{
 background: #83032A 0% 0% no-repeat padding-box;
 box-shadow: 0px 3px 6px #00000029;
 border-radius: 5px;
 color: #FFFFFF;
 font: normal normal bold 16px/19px Helvetica Neue;
 text-align: center;
 padding: 19px 25px;
 transition: 0.3s;
 width: 210px;
 display: block;
 margin: 0 auto;
}
@media(max-width:768px){
  .cta-btn{
    width: 80%;
  }
}
.cta-btn:hover{
  opacity: 0.8;
}
footer{
  background: #333333 0% 0% no-repeat padding-box;
  text-align: center;
  padding: 32px 0;
  color: #FFFFFF;
}
footer .small{
  font: normal normal bold 14px/17px Helvetica Neue;
}

